.complete{
    background: red;
}

.list-elem{
    width: 100%;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--bs-secondary);
}

.list-elem span{
    display: flex;
}

.complete-but{
    margin-right: 5px;
}

.compl-btn:hover{
    cursor: pointer;
}